*{
    border: 1px solid red;   
    box-sizing: border-box;
    color: white;

}
body{
    background-color: rgba(18, 18, 18, 0.971);
}

.header{
    display: flex;
    justify-content: space-between;
}
.header div{
    gap: 10px
}

.main-container{
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
    display: flex;

}
.sidebar-container{
    background-color: #131f27;
    width: 20%;
    overflow-x: hidden;
    padding: 1px;
}

.sidebar-workspace{
    display: flex;
    justify-content: space-between;
    position: relative;
}

#sidebar-button{
    position: absolute;
    right: 0px;
    width: 20px;
    background-color: rgb(18, 97, 134);
    color:white;
}
.sidebar-board-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 40px;
    justify-content: flex-start;
}

.content-container{
    width: 100%;
    padding: 0% 5%;

}

.content-board-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 25px;
    


}

.container-board-item{
    display: flex;
    align-items: center;
    justify-content: center;
}